@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	background-color: #efefef;
	font-family:Helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow-x: hidden;
}

a {
	color:#505f4c;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	text-decoration:underline;
}

ul {
	list-style-type: disc;
	line-height: 1.5em;
}

dl {
	margin-top: .2em;
	margin-bottom: .5em;
}

dt {
	font-weight: bold;
	margin-bottom: .1em;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: .5em;
	border-bottom: 1px solid #aaa;
}

:focus {
	outline:none;
}

#container {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	display:table;
	position: relative;
	overflow:hidden;
}

#top {
	display: table-row;
	clear: both;
	height: 76px;
	margin-bottom: 250px;
}

#topSearch {
	margin-top: 18px;
	margin-left: 125px;
	height: 76px;
	width: 400px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
}
#searchInput {
	padding-left: 7px;
	padding-right: 25px;
	float: left;
	width: 400px;
	height: 25px;
	font-size: 11pt;
	display: block;
	box-shadow: inset 0 3px 3px #ccc;
}

#searchButton {
	color: #fff;
	height: 25px;
	width: 73px;
	background-color: transparent;
	border-radius: 0 5px 0 ;
	font-size: 1em;
	border: 0;
	position: relative;
	right: 0;
}

#topSearch .searchIcon {
	position: absolute;
	top: 5px;
	right: 7px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEOAB8K34y9WQAAAURJREFUOMuVkzFLBDEQhb+s+BsO
C+X0KsHmCsVCJRZiaWrBWhAbwQhiJaIoEY5Dwdp/EEu7oDZnIYKNjZ7VcY21lazNBJbcrp6v2ZnM
zNs3k4lC4IPDaIsPLgNWgTGgD9wabb9jPIVKii+AbQZxZbTdKiNRheIXYAZ4AFrAO1AHdoAl4NVo
O12qxAfX8sHlPriDqCj57kn8sqqFHOgYbeepgA/uDlgEVFFB5oNbFrsd/1hSDNAWd6UYy4Ca2N2y
KQOx5w9xaylBT+zGHwoa4vbKEnIf3BO/wAf3KLMiVQBwCjR9cGcVt3AEzALHA7dQ2IMOMAc8yx68
AVOyB03J78vZV5xXuoknwH5JB4fABjAJfAITkUTFjJtwzprejZIX4lsw2t7L2Yhs53iRRDEkZB4p
SX1ogoSkKySb/yIokIwC60bb6x+vTZfkN5FC1AAAAABJRU5ErkJggg==);
	height: 16px;
	width: 16px;
	display: inline-block;

}

#topnav {
	position: fixed;
	top: 0;
	clear: both;
	height: 76px;
	width: 100%;
	display: table-cell;
	border-bottom: 1px solid #e5e5e5;
	background-color: #b9cdb5;
	z-index: 9999999999999999;
}

#top > #topnav > #userlinks {
	min-height: 76px;
	float: right;
	width: 350px;
}

#top > #topnav > #userlinks > ul {
	line-height: 100%;
	height: 100%;
	margin: 0;
	vertical-align: top;
	float: left;
}

#top > #topnav > #userlinks > ul > li {
	float: left;
	list-style-type: none;
	display:inline-block;
	font-size:small;
	min-width: 70px;
	min-height: 76px;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	transition: color .2s, background-color .2s, border .2s;
}

#top > #topnav > #userlinks > ul > li:last-child {
}

#top > #topnav > #userlinks > ul > li:hover {
	background-color:#505f4c;
}
#top > #topnav > #userlinks > ul > li:hover > a {
	text-decoration:none;
	color: #fff;
}

#top > #topnav > #userlinks > ul > li > a {
	display: block;
	color: #475347;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
}

#top > #topnav > #userlinks > ul > li > ul {
	padding: 0;
	min-height: 100px;
	position: absolute;
	top: 76px;
	left: 0;
	width: 300px;
	float: right;
	display: none;
	margin: 0;
	padding: 10px 0;
	z-index: 1000;
	visibility: hidden;
	list-style-type: none;
	background-color: #f9f9f9;
	border: 1px solid #b9cdb5;
}

#top > #topnav > #userlinks > ul > li > ul > li a {
	display: block;
	padding: 0 20px 0 15px;
	line-height: 26px;

}

#top > #topnav > #userlinks > ul > li > ul > li:hover a {
	background-color:#b9cdb5;
	color: #fff !important;
	text-decoration: none;
}

#top > #topnav > #userlinks > ul > li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

#rail {
	padding-top: 25px;
	position: relative;
	width: 20%;
	clear: left;
	display:table-cell;
}

#logo, #logo img {
	float: left;
	height: 76px;
	width: 66px;
	margin-left: 50px;
	display: inline-block;
	padding-right: 50px;
}

#sidebar {
	margin: 0 auto 25px;
	width: 200px;
}

#sidebar section {
	margin-bottom:10px;
	padding:10px;
	background-color: #f6f5f4;
	border:1px solid #e5e5e5;
	border-radius: 2px;
}

#sidebar section .top {
	border-radius: 2px;
	border-bottom:1px solid #92a583;
	width:100%;
}

#sidebar section .top h3 {
	display:inline;
	vertical-align:top;
}

#sidebar section h3 {
	font-size:small;
	padding-bottom:3px;
}

#sidebar ul {
	margin: 0;
	font-size:10pt;
	margin-top:5px;
	padding:0;
}
#sidebar ul li {
	border:none;
	padding-left:0;
	padding-top:10px;
	line-height:0.5em;
	list-style-position:inside;
	list-style-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAB3RJTUUH3wEKFwcVRpQKVwAAARNJREFUGNMBCAH3/gCMjYkJw8XBrdPU0P6dnpqAw8XA/6anoo0AAAAAAAAAAAO6urz8Hh8czA4ODVgICQgs2dnXvAQFA2MtLyvewsDE0gMAAAAAwcDC7xQVE8YQEA1y8vHxxNzc2xD3+PdJKCklsgMAAAAAgYN9AIiGjOMcHRn6/v78dtLS1WcFBQRj+Pn5CgIAAAAAISQeAAAAAAAICAgi7O3v/RISESv6+fv/8O/w/QFiZV4AnpuiAHF0bFf7+/qo6efqlgsMC1jr6+v06ejqPQEAAAAAZGdfGgwMC9jq6eznAAD/1vPz81Du7fBgxcTIoQJbXFYG////g+vq7Qvv7u+j8/P0R/Lx85vFxMihAAAAAOhPgG3jIbbCAAAAAElFTkSuQmCC);
}

#main {
	vertical-align: top;
	clear: right;
	display: table-cell;
	width: 80%;
	padding-top: 25px;
	padding-bottom: 75px;
}


#main #navtabs {
	min-height:25px;
	vertical-align: bottom;
	padding: 0;
	min-width: 100%;
	margin: 0;
	border-bottom:1px solid #e5e5e5;
}

#main #navtabs ul {
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
	vertical-align: bottom;
}

#main #navtabs li {
	list-style-type: none;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	vertical-align:bottom;
	overflow:hidden;
	background-color: #EFEFEF;
	line-height: 5px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

#main #navtabs ul > li > a {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #EFEFEF) );
	background: -o-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #EFEFEF 100%);
	background: linear-gradient(to top, #FFFFFF 0%, #EFEFEF 100%);
	min-height: 100%;
	font-size: 10pt;
	padding: 10px;
	display:block;
	text-transform: lowercase;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}

#main #navtabs ul > li.selected > a {
	font-weight: bold;
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
}

#main > #content {
	max-width: 100%;
	background-color: #fff;
	border-radius:0px 2px 2px 2px;
	border-left:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
	line-height: 1.6;
	font-size: 0.875em;
}

.mw-ui-container #userloginForm {
	float: none;
	display: table-cell;
	padding-right: 30px;
}


div.mw-createacct-benefits-container {
	display: table-cell;
	float: none !important;
}
#content article {
	margin-top:25px;
}


#content article p {
	text-indent:5px;
}

#header {
	width:100%;
	margin-bottom:5px;
}

#main #content h1 {
	display:inline-block;
	vertical-align:top;
	font-size: 16pt;
	width: 100%;
}

#bottom {
	display: table-row;
}

#bottom footer {
	min-height: 50px;
	width: 100%;
	float: left;	
	position: absolute;
	bottom: 0;
	border-radius: 0;
}

#bottom footer ul {
	list-style-type: none;
	text-align: center;
	margin: 10px 0;
}

#bottom footer ul li {
	display: inline;
	padding: 5px;
}

#bottom footer ul li:after {
	content:'||';
	margin-left: 5px;
}

#bottom footer ul li:last-child:after {
	content:'';
}

#bottom footer ul li a {
	padding: 5px;
}

.textbox {
	box-sizing: border-box;
}

.new {
	color: #4c595f !important;
}

.menu {
	position: absolute;
	margin: 0;
	padding: 10px 0;
	top: 71px;
	z-index: 1000;
	background-color: #f9f9f9;
	display: none;
}

#userlinks li:hover .menu {
	display: visible;
}

#wpTextbox1, #wpSummary {
	width: 100%;
}

.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
	margin: 0.3em 0 0 1.6em;
	padding: 0;
}

.mw-body h2 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.25em;
}
.mw-body h1, .mw-body h2 {
	font-family: "Linux Libertine",Georgia,Times,serif;
	line-height: 1.3;
	padding: 0;
}

.mw-content-ltr dd, .mw-content-rtl .mw-content-ltr dd {
	margin-left: 1.6em;
	margin-right: 0;
}

.mw-editsection a {
	font-weight: normal !important;
}

#preftoc {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#preftoc li {
	display: inline-block;
	padding: 10px;
}

.selected a {
	font-weight: bold;
}

#preftoc li:hover a {
	text-decoration: none;
}

.mw-prefs-buttons {
	padding-top: 10px;
}
#main #content .mw-htmlform-submit {
	color: #fff;
	background-color: #00c217;
	border-radius: .3em;
	border: 1px solid;
	display: inline-block;
	letter-spacing: .15em;
	margin-bottom: .5em;
	padding: 1em .75em;
	text-decoration: none;
	text-transform: uppercase;
	transition: color .4s, background-color .4s, border .4s;
}

#main #content .mw-htmlform-submit:active {
	background-color: #009712;;
}

a.text {
	font-weight: bold !important;
}

.tabsleft {
	float: left;
}
.tabsright {
	float: right;
}

.successbox {
	padding: 0;
}