@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	/*background-color: #efefef;*/
	background-color: #efefef;
	font-family:Helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

a {
	color:#4c595f;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	text-decoration:underline;
}

ul {
	list-style-type: disc;
	line-height: 1.5em;
}

dl {
	margin-top: .2em;
	margin-bottom: .5em;
}

dt {
	font-weight: bold;
	margin-bottom: .1em;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: .5em;
	border-bottom: 1px solid #aaa;
}

:focus {
	outline:none;
}

#container {
	min-height: 100vh;
	height: 100%;
	min-width:100vw;
	max-width: 100vw;
	display:table;
	position: relative;
	overflow-x:hidden;
}

#top {
	display: table-row;
	clear: both;
	height: 72px;
	margin-bottom: 250px;
}


#topnav {
	position: fixed;
	top: 0;
	clear: both;
	height: 72px;
	width: 100%;
	display: table-cell;
	border-bottom: 1px solid #e5e5e5;
	background-color: #b5bfcd;
	z-index: 9999999999999999;
}

#top > #topnav > #userlinks {
	min-height: 72px;
	float: right;
	width: 400px;
}
#top > #topnav > #userlinks > ul {
	line-height: 100%;
	height: 100%;
	margin: 0;
	vertical-align: top;
}

#top > #topnav > #userlinks > ul > li {
	list-style-type: none;
	display:inline-block;
	font-size:small;
	min-width: 70px;
	min-height: 72px;
	border-left: 1px solid #000;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

#top > #topnav > #userlinks > ul > li > a {
	display: block;
	color: #475347;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
}

#top > #topnav > #userlinks > ul > li > ul {
	padding: 0;
	min-height: 100px;
	position: absolute;
	top: 72px;
	left: 0;
	width: 300px;
	float: right;
	display: none;
	margin: 0;
	padding: 10px 0;
	z-index: 1000;
	visibility: hidden;
	list-style-type: none;
	background-color: #f9f9f9;
	border: 1px solid #b5bfcd;
}

#top > #topnav > #userlinks > ul > li > ul > li a {
	display: block;
	padding: 0 20px 0 15px;
	line-height: 26px;

}

#top > #topnav > #userlinks > ul > li > ul > li:hover a {
	background-color:#b5bfcd;
	color: #fff !important;
	text-decoration: none;
}

#top > #topnav > #userlinks > ul > li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

#rail {
	padding-top: 25px;
	position: relative;
	width: 20%;
	clear: left;
	display:table-cell;
}

#logo, #logo img {
	float: left;
	height: 72px;
	width: 63px;
	margin-left: 25px;
	display: inline-block;
	padding-right: 50px;
}

#sidebar {
	margin: 0 auto 25px;
	width: 200px;
}

#sidebar section {
	margin-bottom:10px;
	padding:10px;
	background-color: #f6f5f4;
	border:1px solid #e5e5e5;
	border-radius: 2px;
}

#sidebar section .top {
	border-bottom:1px solid #839CA5;
	width:100%;
}

#sidebar section .top h3 {
	display:inline;
	vertical-align:top;
}

#sidebar section h3 {
	font-size:small;
	padding-bottom:3px;
}

#sidebar ul {
	margin: 0;
	font-size:10pt;
	margin-top:5px;
	padding:0;
}
#sidebar ul li {
	border:none;
	padding-left:0;
	padding-top:10px;
	line-height:0.5em;
	list-style-position:inside;
	list-style-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAB3RJTUUH3wEKFwcVRpQKVwAAARNJREFUGNMBCAH3/gCMjYkJw8XBrdPU0P6dnpqAw8XA/6anoo0AAAAAAAAAAAO6urz8Hh8czA4ODVgICQgs2dnXvAQFA2MtLyvewsDE0gMAAAAAwcDC7xQVE8YQEA1y8vHxxNzc2xD3+PdJKCklsgMAAAAAgYN9AIiGjOMcHRn6/v78dtLS1WcFBQRj+Pn5CgIAAAAAISQeAAAAAAAICAgi7O3v/RISESv6+fv/8O/w/QFiZV4AnpuiAHF0bFf7+/qo6efqlgsMC1jr6+v06ejqPQEAAAAAZGdfGgwMC9jq6eznAAD/1vPz81Du7fBgxcTIoQJbXFYG////g+vq7Qvv7u+j8/P0R/Lx85vFxMihAAAAAOhPgG3jIbbCAAAAAElFTkSuQmCC);
}

#main {
	vertical-align: top;
	clear: right;
	display: table-cell;
	width: 80%;
	padding-top: 25px;
	padding-bottom: 100px;
}


#main #navtabs {
	min-height:25px;
	vertical-align: bottom;
	padding: 0;
	min-width: 100%;
	margin: 0;
	border-bottom:1px solid #e5e5e5;
}

#main #navtabs ul {
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
	width: 100%;
	vertical-align: bottom;
}

#main #navtabs ul > li {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	list-style-type: none;
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	vertical-align:bottom;
	overflow:hidden;
	line-height: 4px;
}

#main #navtabs ul > li > a {
	height: 100%;
	font-size: 10pt;
	padding: 10px;
	display:block;
	text-transform: lowercase;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}

#main #navtabs ul > li.selected > a {
	font-weight: bold;
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
}

#main > #content {
	max-width: 100%;
	background-color: #fff;
	border-radius:0px 2px 2px 2px;
	border-left:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding: 10px;
	line-height: 1.6;
	font-size: 0.875em;
}

.mw-ui-container #userloginForm {
	float: none;
	display: table-cell;
	padding-right: 30px;
}


div.mw-createacct-benefits-container {
	display: table-cell;
	float: none !important;
}
#content article {
	margin-top:25px;
}

#content article a {
	font-weight: bold;
}

#content article p {
	text-indent:5px;
}

#header {
	width:100%;
	margin-bottom:5px;
}

#main #content h1 {
	display:inline-block;
	vertical-align:top;
	font-size: 16pt;
	width: 100%;
}

#bottom {
	display: table-row;
}

#bottom footer {
	min-height: 50px;
	width: 100%;
	float: left;
	border: 1px solid #ccc;
	background-color: #b5bfcd;
	position: absolute;
	bottom: 0;
	border-radius: 0;
}

#bottom footer ul {
	list-style-type: none;
	text-align: center;
	margin: 10px 0;
}

#bottom footer ul li {
	display: inline;
	padding: 5px;
}

#bottom footer ul li:after {
	content:'||';
	margin-left: 5px;
}

#bottom footer ul li:last-child:after {
	content:'';
}

#bottom footer ul li a {
	padding: 5px;
}

#search {
	margin-top: 18px;
	height: 72px;
	width: 393;
	vertical-align: middle;
	display: inline-block;
}
#searchBox {
	padding: 2px;
	float: left;
	width: 320px;
	height: 33px;
	font-size: 11pt;
	box-shadow: inset 0 3px 3px #ccc;
}

#searchGoButton {
	color: #fff;
	height: 33px;
	width: 73px;
	background-color: #6d855e;
	border-radius: 0 5px 0 ;
	font-size: 1em;
	border: 0;
}

.textbox {
	box-sizing: border-box;
}

.new {
	color: #4c595f !important;
}

.menu {
	position: absolute;
	margin: 0;
	padding: 10px 0;
	top: 71px;
	z-index: 1000;
	background-color: #f9f9f9;
	display: none;
}

#userlinks li:hover .menu {
	display: visible;
}

#wpTextbox1, #wpSummary {
	width: 100%;
}

.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
	margin: 0.3em 0 0 1.6em;
	padding: 0;
}

.mw-body h2 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.25em;
}
.mw-body h1, .mw-body h2 {
	font-family: "Linux Libertine",Georgia,Times,serif;
	line-height: 1.3;
	padding: 0;
}

.mw-content-ltr dd, .mw-content-rtl .mw-content-ltr dd {
	margin-left: 1.6em;
	margin-right: 0;
}

.mw-editsection a {
	font-weight: normal !important;
}

#preftoc {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#preftoc li {
	display: inline-block;
}
